.tree-item {
  border-radius: 8px;
  background-color: #F6F5FF;
  border-color: #EBE7FE;
  border-width: 2px;
  border-style: solid;
  .tree-item-chip {
    margin: 4px;
    background-color: #fefefe;
  }
}